<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="{% url 'automate_download' %}">
        {% csrf_token %}
        <label for="district">Select District:</label>
        <select name="district" id="district">
            <!-- Add options for districts -->
        </select>
        <button type="submit">Automate Download</button>
    </form>
    
</body>
</html>

district = VoterList.objects.get_or_create(name = district_name)[0]
assembly = VoterList.objects.get_or_create(name = assembly_name)[0]
consistency = VoterList.objects.get_or_create(type = consistenct_type)[0]  